- if show_mobile_devops_project_promo?(project)
  = render Pajamas::BannerComponent.new(banner_options: { id: 'mobile-devops-promo-banner' },
    close_options: { class: 'hide-mobile-devops-promo',
                            data: { project_id: project.id }}) do |c|
    - c.with_illustration do
      = image_tag image_path('illustrations/rocket-launch-md.svg')
    - c.with_title do
      = s_('Promotions|Ship faster with GitLab Mobile DevOps.')
    %p
      = s_('Promotions|Use GitLab Mobile DevOps to quickly build, sign, and release native and cross-platform mobile apps for Android and iOS using GitLab CI/CD.')
    - c.with_primary_action do
      = link_to s_('Promotions|Get started with GitLab Mobile DevOps'), help_page_path('ci/mobile_devops.md'), class: 'gl-button btn btn-confirm gl-mb-3'
