.form-group.gl-mt-3
  - nonce = SecureRandom.hex
  = render Pajamas::CheckboxTagComponent.new(name: 'create_merge_request',
    checked: true,
    checkbox_options: { class: 'js-create-merge-request', id: "create_merge_request-#{nonce}" }) do |c|
    - c.with_label do
      - translation_variables = { new_merge_request: "<strong>#{_('new merge request')}</strong>" }
      - translation = _('Start a %{new_merge_request} with these changes') % translation_variables
      #{ translation.html_safe }
